.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-direction: column;
  background: var(--token-dzXZ6pAO5);
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  background: none;
  max-width: 1268px;
  align-self: center;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 92px 24px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  --plsmc-rc-col-gap: 20px;
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    --plsmc-rc-col-gap: 0px;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__eqE5D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__wjle4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__wjle4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 15px);
  height: calc(100% + 15px);
}
.freeBox__wjle4 > :global(.__wab_flex-container) > *,
.freeBox__wjle4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wjle4 > :global(.__wab_flex-container) > picture > img,
.freeBox__wjle4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 15px;
}
.h3__x5WW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-r9Pucmyix3sy);
  min-width: 0;
}
.text__pqhKm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: var(--token-r9Pucmyix3sy);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pqhKm {
    text-align: left;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    padding-bottom: 25px;
    color: var(--token-r9Pucmyix3sy);
    font-weight: 300;
    line-height: 1.7;
    min-width: 0;
  }
}
.freeBox__loqp0 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__loqp0 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__loqp0 > :global(.__wab_flex-container) > *,
.freeBox__loqp0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__loqp0 > :global(.__wab_flex-container) > picture > img,
.freeBox__loqp0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__dtM {
  color: var(--token-r9Pucmyix3sy);
}
.freeBox__ocZY {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__ocZY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ocZY > :global(.__wab_flex-container) > *,
.freeBox__ocZY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ocZY > :global(.__wab_flex-container) > picture > img,
.freeBox__ocZY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.link___6Hzvt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___9FQlz {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-r9Pucmyix3sy);
  flex-shrink: 0;
}
.link__ml3Qs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__wbrXh {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-r9Pucmyix3sy);
  flex-shrink: 0;
}
.link__h2Fxs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__cPqMp {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-r9Pucmyix3sy);
  flex-shrink: 0;
}
.column__pboOk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__rRnZe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__rRnZe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__rRnZe > :global(.__wab_flex-container) > *,
.freeBox__rRnZe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rRnZe > :global(.__wab_flex-container) > picture > img,
.freeBox__rRnZe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h3__sySB {
  position: relative;
  color: var(--token-r9Pucmyix3sy);
}
.freeBox__nKqWl {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__nKqWl > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nKqWl > :global(.__wab_flex-container) > *,
.freeBox__nKqWl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nKqWl > :global(.__wab_flex-container) > picture > img,
.freeBox__nKqWl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.link__ucmqy {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__ucmqy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__ucmqy > :global(.__wab_flex-container) > *,
.link__ucmqy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__ucmqy > :global(.__wab_flex-container) > picture > img,
.link__ucmqy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__pdZ4Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__q9EYy {
  height: auto;
  font-weight: 400;
  color: var(--token-r9Pucmyix3sy);
  font-size: 18px;
  line-height: 26px;
}
.svg__gomNk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__zr04S {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__zr04S > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__zr04S > :global(.__wab_flex-container) > *,
.link__zr04S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__zr04S > :global(.__wab_flex-container) > picture > img,
.link__zr04S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___4Gsv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__yBHu {
  height: auto;
  font-weight: 400;
  color: var(--token-r9Pucmyix3sy);
  font-size: 18px;
  line-height: 26px;
}
.svg__peY0S {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.column__rMf3K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__ouXDk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__ouXDk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__ouXDk > :global(.__wab_flex-container) > *,
.freeBox__ouXDk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ouXDk > :global(.__wab_flex-container) > picture > img,
.freeBox__ouXDk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h3__woUb {
  position: relative;
  color: var(--token-r9Pucmyix3sy);
}
.freeBox___9Qgqy {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox___9Qgqy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___9Qgqy > :global(.__wab_flex-container) > *,
.freeBox___9Qgqy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9Qgqy > :global(.__wab_flex-container) > picture > img,
.freeBox___9Qgqy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.link__n4WZs {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__n4WZs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__n4WZs > :global(.__wab_flex-container) > *,
.link__n4WZs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__n4WZs > :global(.__wab_flex-container) > picture > img,
.link__n4WZs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__fvdds {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__aLiCp {
  height: auto;
  font-weight: 400;
  color: var(--token-r9Pucmyix3sy);
  font-size: 18px;
  line-height: 26px;
}
.svg__rZc6E {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__adH4S {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 0px;
  border: 1px solid transparent;
}
.link__adH4S > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__adH4S > :global(.__wab_flex-container) > *,
.link__adH4S > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__adH4S > :global(.__wab_flex-container) > picture > img,
.link__adH4S
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__hti2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__enI1N {
  height: auto;
  font-weight: 400;
  color: var(--token-r9Pucmyix3sy);
  font-size: 18px;
  line-height: 26px;
}
.svg___5F7Hn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__fBqIs {
  display: flex;
  position: relative;
  flex-direction: column;
  left: auto;
  top: auto;
  width: 100%;
  height: auto;
  align-self: center;
  background: #0505052b;
  min-width: 0;
  padding: 32px 16px;
}
.freeBox__fBqIs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fBqIs > :global(.__wab_flex-container) > *,
.freeBox__fBqIs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fBqIs > :global(.__wab_flex-container) > picture > img,
.freeBox__fBqIs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__sTt23 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__sTt23 {
    display: flex;
    flex-direction: column;
  }
}
.text__o9EWy {
  position: relative;
  color: #a5adb3;
  font-size: 14px;
}
